@font-face {
	font-family: Montserrat;
	src: url("./../assets/Montserrat.ttf") format("truetype");
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Montserrat, Arial, sans-serif;
	color: #242424;
	text-decoration: none;
	font-style: normal;
	border: none;
	outline: none;
}
body {
	background-size: 100% 100%;
	background-position: 0px 0px, 0px 0px, 0px 0px;
	background-image: radial-gradient(75% 75% at 91% 8%, #dbdbdbff 0%, #ffffff85 100%), linear-gradient(208deg, #270455ff 0%, #ffffff3b 100%), radial-gradient(68% 75% at 50% 50%, #18241aff 0%, #b0b0b0ff 100%);
	width: 300px;
	height: 450px;
}
main {
	padding: 1.5rem;
	width: inherit;
	height: calc(100% - 75px);
	overflow-y: auto;
}
.timer-container {
	display: grid;
	margin-bottom: 0.7rem;
	text-align: center;
	background-color: #fafafa;
	height: 70px;
	padding: 10px;
	border-radius: 5px;
	justify-items: center;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.editing p {
	opacity: 0.5;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.timer-time {
	display: flex;
	justify-content: center;
	gap: 5px;
	align-items: baseline;
}
.timer-info {
	user-select: none;
	width: 100%;
	cursor: pointer;
	grid-column-start: 2;
	grid-column-end: 5;
	transition: transform 0.3s ease;
}
.timer-info:hover {
	transform: scale(0.9, 0.9);
}
.timer-value {
	font-size: 1.1rem;
	margin-bottom: 5px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.timer-desc {
	color: #303030;
	font-size: 0.8rem;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.feature-icon {
	cursor: pointer;
	opacity: 0;
	padding: 5px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease;
}
.feature-icon:hover {
	opacity: 1;
}
.delete-timer {
	background-color: rgba(211, 87, 87, 0.7);
	justify-self: flex-start;
}
.edit-timer {
	background-color: rgba(0, 0, 0, 0.2);
	justify-self: flex-end;
}

.timer-add {
	position: absolute;
	bottom: 1rem;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: fit-content;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	padding: 10px;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	border-top: 1px solid white;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease;
	cursor: pointer;
}
.timer-add:hover {
	transform: scale(0.9, 0.9);
}
@keyframes timerBar {
	0% {
		width: 100%;
		background-color: rgb(115, 255, 146);
		border-right: 5px solid red;
	}
	20% {
		background-color: rgb(54, 226, 91);
	}
	30% {
		background-color: rgb(255, 243, 70);
	}
	70% {
		background-color: rgb(255, 70, 70);
	}
	100% {
		background-color: rgb(212, 41, 41);
		border-right: 0px solid white;
		width: 0%;
	}
}
.play-container {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	user-select: none;
	border-top: 2px solid #fafafa;
	background-color: #fafafa;
	border-radius: 5px;
	margin: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.play-bar {
	margin-top: 1rem;
	height: 10px;
	border-radius: 3px;
	text-align: center;
	margin-right: auto;
	transition: all 1s ease;
}
.play-value {
	display: flex;
	align-items: last baseline;
}
.play-bar-value {
	font-weight: 600;
	font-size: 1.5rem;
}
.play-desc {
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.play-action {
	margin-top: 1rem;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 8px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
}
.play-value {
	display: flex;
	gap: 5px;
}
.play-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s ease;
}
.play-feature:hover {
	transform: scale(1.2, 1.2);
}
.play-stop {
	background-color: rgba(228, 85, 85, 0.9);
}
.play-pause {
	background-color: rgba(247, 213, 25, 0.9);
}
.play-restart {
	background-color: rgba(0, 0, 0, 0.2);
}
